<!-- app.component.html -->

<app-navbar></app-navbar>

<div class="container px-4">
  <h1 class="mt-4 text-primary">Education</h1>

  <div class="education-item">
    <h2 class="h5 text-secondary">Masters of Computer Application (MCA)</h2>
    <h3 class="h6 text-muted">Karukutty, Ernakulam</h3>
    <p class="mb-0">SCMS School of Engineering and Technology (SSET) | 2020‑2022</p>
  </div>

  <div class="education-item">
    <h2 class="h5 text-secondary">Bachelor of Computer Application (BCA)</h2>
    <h3 class="h6 text-muted">Calicut</h3>
    <p class="mb-0">St. Joseph’s College Devagiri (Autonomous), Devagiri Calicut | 2017‑2020</p>
  </div>

  <div class="education-item">
    <h2 class="h5 text-secondary">Diploma in Computer Applications (DCA)</h2>
    <h3 class="h6 text-muted">Perambra, Calicut</h3>
    <p class="mb-0">G‑TEC PERAMBRA | 2016‑2017</p>
  </div>

  <div class="education-item">
    <h2 class="h5 text-secondary">Grade XII ‑ Biology Science</h2>
    <h3 class="h6 text-muted">Perambra, Calicut</h3>
    <p class="mb-0">PERAMBRA HIGHER SECONDARY SCHOOL | 2014‑2016</p>
  </div>

  <div class="education-item">
    <h2 class="h5 text-secondary">Grade X</h2>
    <h3 class="h6 text-muted">Perambra, Calicut</h3>
    <p class="mb-0">PERAMBRA HIGHER SECONDARY SCHOOL | 2013‑2014</p>
  </div>
</div>
