NODE_ENV=development
PORT=3001
POSTGRES_USER=squat
POSTGRES_PASSWORD=squat
POSTGRES_DB=squat
POSTGRES_PORT=5433
DATABASE_URL=postgresql://squat:squat@localhost:5433/squat?schema=public
TEST_DATABASE_URL=postgresql://squat:squat@localhost:5433/squat_test?schema=public
CORS_ORIGINS=http://localhost:5173
DEV_USER_EMAIL=alex@squat.app
