<app-navbar></app-navbar>

<section class="portfolio-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="project-card">
          <div class="card-body">
            <h5 class="card-title">Guessing Game</h5>
            <p class="card-text">Guess the Number</p>
            <a href="#" class="btn btn-primary">Play</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="project-card">
          <div class="card-body">
            <h5 class="card-title">Pig Game</h5>
            <p class="card-text">Roll the dice, score points, and race to victory!</p>
            <a href="#" class="btn btn-primary">Play</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="project-card">
          <div class="card-body">
            <h5 class="card-title">Quote Generator</h5>
            <p class="card-text">Inspiring words at your fingertips.</p>
            <a href="#" class="btn btn-primary">Try</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="project-card">
          <div class="card-body">
            <h5 class="card-title">Deepfake video detection</h5>
            <p class="card-text">Karukutty, Ernakulam<br>SCMS School of Engineering and Technology (SSET)</p>
            <ul>
              <li>Developed a deep learning model to classify deepfake and genuine videos, aiming to detect and differentiate between manipulated and authentic content.</li>
              <li>Technical Skills: Python, Machine Learning, Bash script.</li>
              <li>Soft Skills: Time Management, Presentation skills, Report writing.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="project-card">
          <div class="card-body">
            <h5 class="card-title">Malware detection with deep Autoencoder</h5>
            <p class="card-text">Karukutty, Ernakulam<br>SCMS School of Engineering and Technology (SSET)</p>
            <ul>
              <li>Created a deep learning-powered tool capable of accurately detecting and identifying malware, enhancing the ability to identify and mitigate potential security threats.</li>
              <li>Technical Skills: Python with Pandas, Matplotlib, Seaborn.</li>
              <li>Soft Skills: Presentation skills, Leadership, Teamwork, Logical Thinking.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
