

  <div class="container">

   <app-navbar></app-navbar>
    
    <header>
        <h1>Unleashing Innovation through Expert Web Development and DevOps</h1>
      </header>
    
      <main>
        <section>
          <h2>About Me</h2>
          <p>I'm a skilled software developer specializing in web app development, backend systems, and DevOps. With expertise in Angular, Node.js, Python, Java, and more, I create dynamic and responsive web applications using CSS and Bootstrap.</p>
        </section>
    
        <section>
          <h2>Why Choose Me?</h2>
          <ul class="ulDisc">
            <li>Proven track record of delivering high-quality solutions</li>
            <li>Ability to solve technical challenges swiftly</li>
            <li>Passion for staying ahead of industry trends</li>
            <li>Continuous learning and improvement</li>
          </ul>
        </section>
    
        <section>
          <h2>Let's Connect</h2>
          <p>Ready to drive your success with innovative solutions and an exceptional user experience? Explore my portfolio and let's connect.</p>
          <button>Contact Me</button>
        </section>
      </main>
    
      <footer>
        <p>&copy; 2023 My Portfolio. All rights reserved.</p>
      </footer>
    
  </div>